[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
pytest = "*"
pipenv-setup = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.9"
