[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
anlib = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pipenv-setup = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.9"
